body {
  margin-top: 8.125rem;
  background-color: #d9f2ff;
}

.App {
  display: block;
  margin: 0 auto;
  max-width: 41.875rem;
  font-family: "PT Mono", monospace;
  padding: 1.25rem;
  border: 0.063rem solid #dadde1;
  border-radius: 0.75rem;
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -2%,
    rgb(251, 206, 143) 30.3%,
    rgb(184, 252, 233) 57.2%,
    rgb(118, 162, 229) 80.3%
  );
  box-shadow: 0rem 0.188rem 0.25rem rgba(0, 0, 0, 0.25);
}

.App h1 {
  text-align: center;
  color: #272044;
  font-size: 1.875rem;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-top: 1.25rem;
  margin-bottom: 1.875rem;
}

.App .title {
  position: relative;
  top: 0.25rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: "PT Mono", monospace;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: #272044;
  opacity: 0.8;
  font-size: 0.938rem;
  font-weight: 200;
  line-height: 1.188rem;
}

div .col-3 {
  text-align: right;
}
.title {
  position: relative;
  top: 0.25rem;
}
.weather-app-wrapper {
  max-width: 37.5rem;
  margin: 1.875rem auto;
}
.weather-app {
  font-family: "PT Mono", monospace;
  padding: 1.25rem;
  border: 0.063rem solid #dadde1;
  border-radius: 0.75rem;
  background: linear-gradient(
    179.7deg,
    rgb(248, 126, 126) -2%,
    rgb(251, 206, 143) 30.3%,
    rgb(184, 252, 233) 57.2%,
    rgb(118, 162, 229) 80.3%
  );
  box-shadow: 0rem 0.188rem 0.25rem rgba(0, 0, 0, 0.25);
}

.weather-temperature {
  text-align: center;
}

.weather-temperature img {
  height: 4rem;
  width: 4rem;
  margin-top: 50px;
}
.weather-temperature strong {
  font-size: 4rem;
  line-height: 1;
  font-weight: 400;
  position: relative;
  top: 1.125rem;
}

.weather-temperature .units {
  position: relative;
  font-size: 1rem;
  top: -0.938rem;
}
.weather-temperature .active {
  cursor: default;
}

.footer {
  font-size: 0.813rem;
  text-align: center;
  margin-top: 1.563rem;
  margin-bottom: -0.625rem;
}
